---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Global Vars
$site-width: 1280px;
$site-bg-color: #2F2F2F;
$header-font: 'Montserrat', sans-serif;
$medium: "(max-width: 900px)";

// Using media queries with like this:
// @include media-query($palm) {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "home";
@import "header";
@import "layout";

