<p>Code for Nashville is Nashville's new <a href="http://www.codeforamerica.org/">Code for America Brigade</a>. We are volunteers who collaborate with Metro government to promote <a href="https://en.wikipedia.org/wiki/Open_data">open data</a> and build <a href="https://en.wikipedia.org/wiki/Civic_application">civic apps</a>.</p>

<p>We are a growing organization and need members with all types of skills. </p>The best way to become involved is to attend our next <a href="http://www.meetup.com/code-for-nashville/">hack night</a>. We meet monthly at the Sevier Park Community Center.</p>

New To Code For Nashville? Visit our <a href="/new-members">New Members page</a>.
