<h2>About Code For Nashville</h2>

<p>Code for Nashville was formed in August 2014 to revitalize Nashville's <a href="http://www.codeforamerica.org/">Code for America Brigade</a>. We are volunteers who collaborate with Metro government to promote <a href="https://en.wikipedia.org/wiki/Open_data">open data</a> and build <a href="https://en.wikipedia.org/wiki/Civic_application">civic apps</a>.</p>

</P>We are a growing organization and need members with all types of skills. If you are interested, there are <a href="https://docs.google.com/document/d/1oEB1CuzCHldxP_bzcvmcrmK0yAE1BzV2AGhtwtYKZVY/edit">leadership roles</a> available.</p>

</p>The best way to become involved is to attend our next <a href="http://www.meetup.com/code-for-nashville/">hack night</a> and join our <a href="https://groups.google.com/forum/#!forum/nashville-brigade">google group.</a></p>

