<form action="http://getsimpleform.com/messages?form_api_token=06eacd4eeb0fca3ce6aa8f0ec0613ddb" method="post">
  <input type='hidden' name='redirect_to' value='http://www.codefornashville.org/thanks/' />
  <input type='text' name='name' placeholder='Name'/><br />
  <input type='text' name='address' placeholder='Email'/><br />
  <input type='text' name='subject' placeholder='Subject'/><br />
  <textarea rows='10' cols='80' name='message' placeholder='Message'></textarea>
  <br />
  <input type='submit' value='submit' /><br />
</form>
