<div class="row">
  <div class="home-contact cf">
    <div class="small-4 large-12 columns contact-box">
      <div class="header"><h3>Contact Us</h3></div>
      <div class="contact">
        <a href="/contact">
          <img src="{{ site.baseurl }}/img/email-icon.jpg" alt="Contact Form" height="30" width="30"><span> Contact Form</span>
        </a>
      </div>
      <div class="contact">
          <a href="https://twitter.com/code4nashville">
            <img src="{{ site.baseurl }}/img/twitter-icon.jpg" alt="Twitter" height="30" width="30"><span> Twitter</span>
        </a>
      </div>
    </div>
    <div class="small-4 large-12 columns contact-box">
      <div class="header"><h3>Join Us</h3></div>
      <div class="contact">
        <a href="https://groups.google.com/forum/#!forum/code-for-nashville">
          <img src="{{ site.baseurl }}/img/google-groups-icon.png" alt="Google Groups" height="30" width="30"><span> Google Group</span>
        </a>
      </div>
      <div class="contact">
        <a href="http://www.meetup.com/code-for-nashville/">
          <img src="{{ site.baseurl }}/img/meetup-icon.png" alt="Meetup" height="30" width="30"><span> Meetup</span>
        </a>
      </div>
      <div>
        <a href="/slack/">
          <img src="{{ site.baseurl }}/img/slack-icon.png" alt="Slack sign up" height="30" width="30"> Slack
        </a>
      </div>
    </div>
    <div class="small-4 large-12 columns contact-box">
      <div class="header"><h3>Follow Us</h3></div>
      <div class="contact">
        <a href="https://www.facebook.com/groups/codefornashville/">
          <img src="{{ site.baseurl }}/img/facebook_icon.png" alt="Facebook" height="30" width="30"><span> Facebook</span>
        </a>
      </div>
      <div class="contact">
        <a href="https://github.com/code-for-nashville">
          <img src="{{ site.baseurl }}/img/github-icon.jpg" alt="Github" height="30" width="30"><span> Github</span>
        </a>
      </div>
    </div>
  </div>
</div>
