
<table class='contact'>
  <tr>
    <td class = 'contact-header-cell'>Contact Us</td>
    <td class = 'contact-header-cell'>Join Us</td>
    <td class = 'contact-header-cell'>Follow Us</td>
  </tr>
  <tr>
    <td class = 'contact-cell'> <a href = mailto:webmaster@codefornashville.org> <img src = "{{ site.baseurl }}/img/email-icon.jpg" alt= "Email" height = 30 width = 30> Email </a></td>
    <td class = 'contact-cell'> <a href = https://groups.google.com/forum/#!forum/code-for-nashville> <img src = "{{ site.baseurl }}/img/google-groups-icon.png" alt= "Google Groups" height = 30 width = 30> Google Group </a></td>
    <td class = 'contact-cell'> <a href = https://www.facebook.com/groups/codefornashville/> <img src = "{{ site.baseurl }}/img/facebook_icon.png" alt= "Facebook" height = 30 width = 30> Facebook </a></td>
  </tr>
  <tr>
    <td class = 'contact-cell'> <a href = https://twitter.com/code4nashville> <img src = "{{ site.baseurl }}/img/twitter-icon.jpg" alt= "Twitter" height = 30 width = 30> Twitter </a></td>
    <td class = 'contact-cell'> <a href = http://www.meetup.com/code-for-nashville/> <img src = "{{ site.baseurl }}/img/meetup-icon.png" alt= "Meetup" height = 30 width = 30> Meetup </a></td>
    <td class = 'contact-cell'> <a href = https://github.com/code-for-nashville> <img src = "{{ site.baseurl }}/img/github-icon.jpg" alt= "Github" height = 30 width = 30> Github </a></td>
  </tr>
</table>
