<div class="contact row">
  <div class="col-md-4 col-sm-4 col-xs-6">
    <div class="header"><h3>Contact Us</h3></div>
    <div>
      <a href="mailto:webmaster@codefornashville.org">
        <img src="{{ site.baseurl }}/img/email-icon.jpg" alt="Email" height="30" width="30"> Email
      </a>
    </div>
    <div>
      <a href="https://twitter.com/code4nashville">
        <img src="{{ site.baseurl }}/img/twitter-icon.jpg" alt="Twitter" height="30" width="30"> Twitter
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <div class="header"><h3>Join Us</h3></div>
    <div>
      <a href="mailto:webmaster@codefornashville.org?subject=Slack Invitation Request
        &body=Hi, I'd like to receive an invitation to the Nashville Code Brigade Slack Team.">
        <img src="{{ site.baseurl }}/img/Slack-icon.png" alt="Slack" height="30" width="30"> Slack
      </a>
    </div>
    <div>
      <a href="http://www.meetup.com/code-for-nashville/">
        <img src="{{ site.baseurl }}/img/meetup-icon.png" alt="Meetup" height="30" width="30"> Meetup
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <div class="header"><h3>Follow Us</h3></div>
    <div>
      <a href="https://www.facebook.com/groups/codefornashville/">
        <img src="{{ site.baseurl }}/img/facebook_icon.png" alt="Facebook" height="30" width="30"> Facebook
      </a>
    </div>
    <div>
      <a href="https://github.com/code-for-nashville">
        <img src="{{ site.baseurl }}/img/github-icon.jpg" alt="Github" height="30" width="30"> Github
      </a>
    </div>
  </div>
</div>
