<!-- Masthead -->
<section class="masthead">
    <h1><span>Code</span> <i>for</i> Nashville</h1>
    <nav role="navigation">
        <ul>
            {% for page in site.sections %}
            <li>
                <a href="#{{ page.title}}">{{ page.title}}</a>
            </li>
            {%  endfor %}
        </ul>
    </nav>
</section>

<!-- Banner -->
<div class="banner">
    <h2>{{ site.subTitle }}</h2>
    <ul>
    {% for social in site.social %}
        {% if social.header == true %}
        <li>
            <a href="{{ social.url }}"><span>{{ social.title }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>