<!-- Masthead -->
<section class="masthead">
    <h1><img src="/img/CFNlogo.jpg" alt="code for nashville"/></h1>
    <nav role="navigation">
        <ul>
            {% for page in site.sections %}
            <li>
                <a href="#{{ page.title}}">{{ page.title}}</a>
            </li>
            {%  endfor %}
        </ul>
    </nav>
</section>
<div class="data-needs-survey new-members">
    <p>Both community members and participants are invited! Take our <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDhVRmzrtHdeIn8oiE8vpT0U8bEJejIiMpYDretalGPJIPQw/viewform">Community
            Data Survey!</a></p>
</div>
<!-- Banner -->
<div class="banner">
    <h2>{{ site.subTitle }}</h2>
    <h3>Join Us:</h3>
    <ul>
    {% for social in site.social %}
        {% if social.header == true %}
        <li>
            <a href="{{ social.url }}"><img src="img/{{ social.title }}.svg" alt=""><span>{{ social.title }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
