<script id="e2ma-embed">window.e2ma=window.e2ma||{};e2ma.accountId='1759497';</script>
<script src="//dk98ddgl0znzm.cloudfront.net/e2ma.js" async="async"></script>
<!-- jQuery Version 1.11.0 -->
<script src="/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/landing-page.js"></script>
<script src="/js/github_contrib.js"></script>