<h2>National Day Of Civic Hacking 2015</h2>

<h3>Thank you to our sponsors:</h3>

<hr>

<ul class="ndoch-sponsor-list cf">
	<li class="large-4 small-4 columns">
    <a href="http://www.eventbrite.com" target="_blank"><img alt="Eventbrite logo" src="/img/eb-logo.png" /></a>
  </li>
	<li class="large-4 small-4 columns">
    <a href="http://www.nashvillesoftwareschool.com" target="_blank"><img alt="Nashville Software School logo" src="/img/NSS-logo.png" /></a>
  </li>
	 <li class="large-4 small-4 columns">
    <a href="http://www.nashvillemusiccitycenter.com/" target="_blank"><img alt="Music City Center logo" src="/img/mcc-logo.jpg" /></a>
  </li>
</ul>

<ul class="ndoch-sponsor-list cf">
	<li class="large-6 small-6 columns">
    <a href="http://www.nashville.gov/Information-Technology-Services.aspx" target="_blank"><img alt="Metro Government logo" src="/img/metro-logo.png" /></a>
  </li>
	 <li class="large-6 small-6 columns">
    <a href="http://www.sophicware.com" target="_blank"><img alt="Sophicware logo" src="/img/sophicware-block-logo.png" /></a>
  </li>
</ul>

<ul class="ndoch-sponsor-list cf">
	<li class="large-4 small-4 columns">
    <a href="http://www.nashville.gov/Human-Relations-Commission.aspx" target="_blank"><img alt="MHRC logo" src="/img/mhrc-logo.png" /></a>
  </li>
	 <li class="large-4 small-4 columns">
    <a href="http://www.waffleme.com" target="_blank"><img alt="Waffle logo" src="/img/waffle-logo.png" /></a>
  </li>
	<li class="large-4 small-4 columns">
    <a href="http://www.cts-llc.net" target="_blank"><img alt="Capital Technology Services logo" src="/img/cts-logo.png" /></a>
  </li>
</ul>

<hr>
