<h2>National Day Of Civic Hacking 2015</h2>
  <p> 6th June, Music City Center 8am-8pm</p>
  <p>Afterparty 8pm-10pm at Music City Center hosted by <a href="http://www.eventbrite.com">Eventbrite</a>
  <p>Join Thousands of civic hackers from across the country and help build solutions for our communities and local government by using open data, technology and creative design processes. Anyone can participate. You don't have to be an expert in technology. You just have to care about your neighborhood and community.</p>

<p>Come join Nashville's technology leaders and coders as Code for Nashville holds this year's National Day of Civic Hacking at the Music City Center. Breakfast, Lunch and Dinner are provided. Come for the hacking, stay for the retro afterparty hosted by Eventbrite that will include vintage arcade games.

<p><strong>Get your tickets today through <a href="http://www.eventbrite.com/e/national-day-of-civic-hacking-nashville-tickets-16571162794">Eventbrite</a>.</strong></p>

<h3>Thank you to our sponsors:</h3>
<ul class="ndoch-sponsor-list cf">
  <li class="large-4 small-4 columns">
    <a href="http://www.eventbrite.com"><img src="/img/eb-logo.png" /></a>
  </li>
  <li class="large-4 small-4 columns">
    <a href="http://www.nashvillesoftwareschool.com"><img src="/img/NSS-logo.png" /></a>
  </li>
</ul>
