<div class="even">

    <section id="projects">
        <h2>Projects</h2>
        {% for project in site.projects %}
        <div class="{{project.status}}">
            <p class="thumbnail"><a href="{{project.website}}"><img src="{{ project.thumbnail }}" alt="{{project.title}}"></a></p>
            <h3><a href="{{project.website}}">{{project.title}}</a></h3>
            <p><b>Project Status:</b> {{project.status}}</p>
            <p><b>Project Lead:</b> {{project.lead}}</p>
            <p class="help"><b>Help Needed:</b> {{project.help}}</p>
            <p>{{ project.content }}</p>
            <p><a href="{{project.github}}">Source Code</a>
        </div>
        {% endfor %}
        <div>
            <p class="thumbnail"><a href="https://trello.com/b/i2cgxhnV/idea-board"><img src="img/idea_board.png" alt="Code for Nashville Idea Board"></a></p>
            <h3><a href="https://trello.com/b/i2cgxhnV/idea-board" target="_blank">Code for Nashville Idea Board</a></h3>
            <p>This is a trello board with a list of ideas for possible CfN projects, projects we are currently working on, and projects that need maintenance. The board also includes more information for prototype submission for CfN project support.</p>
            <p><a href="https://trello.com/b/i2cgxhnV/idea-board" target="_blank">Link</a></p>
        </div>
    </section>

</div>
