<div class="even">
    
    <section id="projects">
        <h2>Projects</h2>
        {% for project in site.projects %}
        <div>
            <h3><a href="{{project.website}}">{{project.title}}</a></h3>
            <p><b>Project Status:</b> {{project.status}}</p>
            <p><b>Project Lead:</b> {{project.lead}}</p>
            <p><b>Help Needed:</b> {{project.help}}</p>
            <p class="desc">{{ project.content }}</p>
            <p><a href="{{project.github}}">Source Code</a>
        </div>
        {% endfor %}
    </section>

</div>