<section id="team">
    <h2>Team</h2>
    <ul>
        {% for member in site.members %}
        <li>
            {% if member.github %}
            <a href="http://www.github.com/{{member.github}}" class="member-github-link">
            {% else %}
            <a href="https://github.com/code-for-nashville/handbook#roles" target="_blank" class="member-github-link">
            {% endif %}
                <img src="{{member.img}}" class="member-img" alt=""/>
                <h3 class="github-name" data-github="{{member.github}}">{{member.name}}</h3>
            </a>
            <p>{{{member.title}}</p>
            {% if member.github %}
            <a href="http://www.github.com/{{member.github}}"><img class="github-logo" src="img/GitHub-Mark-64px.png" alt="github {{member.github}}"/></a>
            {% else %}
            <a href="mailto:{{member.apply}}?Subject=Code%20For%20Nashville%20{{member.title}}" target="_top">Contact Us</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <details>
        <summary>
            <h3 id="emeritus-header">Emeritus</h3>
            <p>Past contributors to Code for Nashville</p>
        </summary>
        <div>
            <ul>
                {% for member in site.emeritus %}
                <li>
                    <a href="http://www.github.com/{{member.github}}" class="member-github-link">
                        <img src="{{member.img}}" class="member-img" alt=""/>
                        <h3 class="github-name" data-github="{{member.github}}">{{member.name}}</h3></a>
                    <p>{{member.title}}</p>
                    <a href="http://www.github.com/{{member.github}}"><img class="github-logo" src="img/GitHub-Mark-64px.png" alt="github {{member.github}}"/></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </details>
</section>
