.post {
  .post-content {
    margin: 20px auto;
    max-width: 800px;
  }

  .post-list {
    list-style-type: none;

    li {
      margin-bottom: 10px;

      a {
        color: #250067;
      }
    }
  }
}

