.post {
form {
    input[type="submit"] {
      background: #AD0C10;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px;
    }
    
    background: #ccc;
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    margin: 10px auto;
  }
}

@media screen and (min-width: 64.063em) {
  .post .home-contact .large-12{
        width: 33.33333%;
  }
}
