.site-header {
  background: #AD0C10;

  .header-img-wrapper {
    height: 131px;
  }

  #cfn-header-logo-container {
    background: white;
    min-height: 131px;

    img {
      max-width: 100%; 
      width: auto;
    }
  }

  .cfn-header-logo {
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
  }


  #header-img {
    background-image: url("../img/skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    height:100%;
  }

  .nav-wrapper {
    height: 40px;
    background: #AD0C10;

    h2 {
      margin: 0;
    }
  }

  nav {
    float: right;
    ul {
      margin-bottom: 0;
      padding-left:0;
      padding-right: 10px;
      li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        color: white;
        font-size: 0.8em;
      }

      li:last-child {
        display: none;
      }
    }

    a {
      color: white;
      margin-top: 20px;
      font-family: $header-font
    }
  }

  .menu-icon {
    width: 36px;
    height: 26px;
    line-height: 0;
    text-align: center;
    float: right;
    display: none;
    margin: 10px;
  }

  @media #{$medium} {
    .nav-wrapper {
      .menu-icon, h2 {
        display: inline-block;
      }

      .menu-icon {
        float: right;
      }
        
      .site-title {
        width: 100%;
      }

      h2 {
        float: left;
      }
    }

    .menu {
      width: 100%;
      padding: 0;
    }

    .cfn-header-logo {
      margin-left: 0;
      padding-left: 1%;
      margin-top: 30px;
    }

    nav {
      display: none;
      width: 100%;

      ul{ 
        margin-left: 0;
        margin-top: 4px;
        width: 100%;
        padding-bottom: 10px;

        li{
          list-style-type: none;
          display: block;
        }

        li:first-child {
          border-top: 2px solid white;
          padding-top: 5px;
        }

        li:nth-child(even) {
        display: none;
        }
      }

    }
  }
}
