//Overall Site Layout
body {
  background: #1B1B1B;
  font-family: $body-font;
}

.site-content {
  margin: 0 auto;
  max-width: $site-width;
}

.page-content {
  padding: 20px;
  background: white;
}

.site-footer {
  background: #250067;
  padding-left: 20px;
  
  p {
    margin-bottom: 0;
  }
}

//header props

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1 {
  font-size: 3em;
  line-height: 1.05em;
}

h2{
  font-size: 2.25em;
  line-height: 1.25em;
}

h3{
  font-size: 1.75em;
  line-height: 1.25em;
}

h4{
  font-size: 1.125em;
  line-height: 1.222222222em;
}

@media (max-width: 800px) {
  h1{
    font-size: 2.5em;
    line-height: 1.125em;
  }

  h2{
    font-size: 2em;
  }

  h3{
    font-size: 1.5em;
    line-height: 1.25em;
  }

  h4{
    font-size: 1.125em;
    line-height: 1.222222222em;
  }
}

@media (max-width: 500px) {
  body {
    line-height: 1.25em;
  }

  h1{
    font-size: 2em;
    line-height: 1.25em;
  }

  h2{
    font-size: 1.625em;
    line-height: 1.15384615em;
  }

  h3{
    font-size: 1.375em;
    line-height: 1.1363634em;
  }

  h4{
    font-size: 1.125em;
    line-height: 1.111111em;
  }
}

//clearfix solution
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
