.project-list {
  ul {
    list-style-type: none;
  }

  a {
    color: #250067;
  }

  #source-code {
    color: #AD0C10;
  }
	.ndoch-sponsor-list{
		div.sponsors{
			text-align: center;
		}
		ul {
			display: inline-block;
			text-align: center;
		}
  }
}
