<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
        <div class="standalone-container">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="/img/CFNlogo.jpg" alt="code for nashville"/>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% for page in site.sections %}
                        <ul class="nav navbar-nav navbar-right">
                        	<li>
                                <a class="page-scroll" href="{{site.baseurl}}/#{{ page.title}}">{{ page.title | upcase}}</a>
                            </li>
                        </ul>
                        {%  endfor %}
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            {{content}}
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>
