<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
    <!-- Masthead -->
    <section class="masthead">
        <h1><a href="{{site.baseurl}}/#{{ page.title}}"><img src="/img/CFNlogo.jpg" alt="code for nashville"/></a></h1>
        <nav role="navigation">
            <ul>
                {% for page in site.sections %}
                <li>
                    <a href="{{site.baseurl}}/#{{ page.title}}">{{ page.title}}</a>
                </li>
                {%  endfor %}
            </ul>
        </nav>
    </section>

    <div class="banner">
        <h2> {{ site["newMembersTitle"] }} </h2>
        <h3>Join Us:</h3>
        <ul>
            {% for social in site.social %}
                {% if social.header == true %}
                <li>
                    <a href="{{ social.url }}"><img src="/img/{{ social.title }}.svg" alt=""><span>{{ social.title }}</span></a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

            {{content}}
            {% include footer.html %}
            {% include js.html %}
    </body>
</html>
