---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <ul class="responsive_grid">
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>John Chapin</h5>
          <h6>Brigade Captain Emeritus</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>John Chapin</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Rebecca Cronin-Dixon</h5>
          <h6>Brigade Captain/Webmaster</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Rebecca Cronin-Dixon</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Jon Staples</h5>
          <h6>Brigade Captain/Community Organizer</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Jon Staples</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Jurnell Cockhren</h5>
          <h6>Delivery Lead</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Jurnell Cockhren</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Erin Page</h5>
          <h6>Story Teller</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Erin Page</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Alexandra Phillips</h5>
          <h6>Operative</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Alexandra Phillips</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Sonda Sengupta</h5>
          <h6>New Member Liaison</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Sonda Sengupta</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
        <div class="info">
          <img src="http://placehold.it/150x150" alt=""/>
          <h5>Joann Brooks</h5>
          <h6>Community Liaison</h6>
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Joann Brooks</h6>
          <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
        </div>
      </div>
    </li> <li>
    <div class="team_member">
      <div class="info">
        <img src="http://placehold.it/150x150" alt=""/>
        <h5>Colby Dehart</h5>
        <h6>Developer Evangelist</h6>
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>Colby Dehart</h6>
        <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
      </div>
    </div>
  </li> <li>
  <div class="team_member">
    <div class="info">
      <img src="http://placehold.it/150x150" alt=""/>
      <h5>James Nix</h5>
      <h6>Developer Evangelist</h6>
    </div>
    <div class="info_reveal">
      <h6>Contact<br/>James Nix</h6>
      <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
    </div>
  </div>
</li> <li>
<div class="team_member">
  <div class="info">
    <img src="http://placehold.it/150x150" alt=""/>
    <h5>Max Shenfield</h5>
    <h6>Developer Evangelist</h6>
  </div>
  <div class="info_reveal">
    <h6>Contact<br/>Max Shenfield</h6>
    <p><a href="mailto:address@addresss.com">team@codefornashville.org</a></p>
  </div>
</li>
</ul>
</div>
<article class="post-content">
    {{ content }}
  </article>
</div>